
/* STYLES FOR PLUGINS */

/********** MY SHORT CODES *************/

/* large_image  shortcode */
.large-image img {
    width: 100%;
    height: auto;
}


/*********** FACEBOOK FEED PLUGIN ****/

.facebook {
        h2 {
        width: 10em;
        margin-top: 0;
        padding: 10px 5px 5px 15px;
        position: relative;
        top: 25px;
        left :25px;
        background-color: #fff;
        @include box-shadow($args2);
    }
}
.cff-wrapper {
     border: 1px solid $ltgrey;
    @include box-shadow($args3);
    padding-top: 10px;

}

/********* BREADCRUMBS with Yoast Breadcrumbs plugin **********/

.breadcrumb {
    padding: 8px 15px 3px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
    border-top : $ltgrey solid 1px; 
    p{
        margin-top:20px;
        padding: 10px;
         border: 1px solid $vltgrey;
        @include gradient(#fefefe,$vltgrey);
    }
}
    
/************** CONTACT US PAGE WITH PLUGIN  *******/


#FSContact1 {
    margin-left: 10%;
    margin-top: 50px;
    padding: 10px 10px 20px 40px;
    border: 1px solid #eee;
    @include box-shadow($args2); 
    border-radius: 6px;
    max-width: 450px;
}

/********* EVENTS MANAGER STYLES *********/

#sidebar-right  {
 .widget.widget_em_widget,  .widget.widget_agem_widget {
    @include sub-list-styles;
}
}

#comments{
    display: none;
}


h4.event-datetime{
   color: white; 
    max-width: 300px;
    background-color: $base-col;
//    border-top: solid 2px $base-md;
//    border-bottom: solid 2px $base-md;
    margin: 0;
   // padding: 5px 10px;
    padding: 10px;
}

// Event Categories List

@mixin eventcat-list {
     @include plain-list;
        li{
            display: inline-block;
            padding: 0 0 0 5px;
            margin-bottom: 5px;
            > a {
                padding: 5px;
                background-color: white;
                display: block;
                width: 100%;
                background-color: rgba(255,255,255,0.8);
                color: black;
                &:hover {
                    color: $base-md;
                }
            }
        } 
}

ul.eventcat-list {
    display: inline;
    padding: 0;
    @include eventcat-list;
    li {
        margin: 5px;
        > a {
            padding: 10px 10px 10px 5px;
        }
    }
    > p {
        display: inline-block;
        width: 5px;
    }
}

/********* CALENDAR STYLES ***********/

table.em-calendar td.eventful, table.em-calendar td.eventful-today  {
padding: 0;
	 a {
        color: $base-md;
    }
}

.em-calendar td {
    padding: 0;
    @include plain-list;
    ul {
        margin: 0 0 5px 0;
        padding: 0;
        @include eventcat-list;
                li  > a.cal-cell {
            line-height: 1.2;
                    min-height: 20px;
            font-size: 0.9em;
            padding-left: 2px;    
            color: black;
            &:hover {
            color: $base-md;
        }
        }
    }

}

@media (max-width: 600px) {  
 .em-calendar td ul li{
            padding: 0 0 0 10px;
            display: block;
            min-height: 1rem;
        }
 li > a.cal-cell{
        padding-left: 10px;
        background-color:rgba(255,255,255,0.99);
                 display: block;
            min-height: 1rem;
        span {
            display: none;
            margin-left: 5px;
        }
    }
}

.fullcalendar thead {     
        font-size: 1.4em;
        color: $vltgrey;
    background-color: $base-col;
    color: $vltgrey;
    margin-bottom: -4px;
    border-bottom: 4px solid $base-dk;
    a {
        color: $vltgrey;
        font-size: 1.6em;
        font-weight: normal;
        padding: 15px;
        text-align: center;
    }
    .em-calnav-prev{
        padding: 10px 20px;
        float: left;
    }
    .em-calnav-next {
        padding: 10px 20px;
        float:right;  
    }
    .month_name {
        font-size: 1.6em;
        font-weight: normal;
        padding: 15px;
        text-align: center;
    }
}



table.em-calendar {
    @include responsive-table;
}
.event-img-holder{
    max-width: 100%;
    margin: 10px 0 20px 0;
}
#event-right{
    margin-top: 10px;
}
.event-notes{
 padding: 0 2%;
}
.em-location-map-container{
    max-width: 100%;
}
.event-thmb-horiz{
    width: 100%;
    max-width: 400px;
}
.event-thmb-vert{
    max-width: 200px;
    display: block;
    margin: auto;
}
.event-notes{
    margin-bottom: 20px;
}

/******* EM LOCATIONS *****/

.css-locations-list{
    @include clearfix;
    @include plain-list;
}

.em-pagination{
    display: block;
    clear:left;
    margin: 20px;
    &:before {
        font-size: 1.2em;
        content: 'Pages:';
    }
    .page-numbers{
        padding: 5px;
        font-size: 1.2em;
        &.current{
            background-color: $contr-lt;
        }
    }
}

.location-list {
    @include plain-list;
    li {
        font-size: 1em;
    }
}
//#em-wrapper {
//    padding: 15px;
//}

h2.location-list {
    font-size: 1.8rem;
}

div.css-search div.em-search-main .em-search-submit {
    position: absolute;
    top: 5px;
    right: 5px;
    @include gradient($base-col, $base-md);
    background-color: $base-md;
}

/* BREADCRUMBS WIHT NAVXT PLUGIN */

.breadcrumbs {
    margin: 0 10px 20px 10px;
}
